@import "var_template.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

/* ------------------- Common styles ------------------- */
html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; */
}
body {
  margin-top:20px;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  color:var(--primary-text-color);
  box-shadow: -10px 10px 25px var(--body-shadow);
  width:100%;
}
h1,h2{
  text-shadow: 3px 3px 5px  var( --body-shadow);
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
.profile-banner-button button{
  cursor: pointer;
  display:flex;
  padding:10px;
  min-height: 40px;
  border: none;
  color: var(--primary-header-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.03);
}
.profile-banner-button button:hover{
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
}
.profile-banner-button button:hover span{
  font-size:14px;
  text-align: center;
}
.profile-banner-button button:hover img{
  font-size:14px;
  height:0.001px;
}
.profile-banner-button span{
  font-size:0.001px;
  transition:all 0.4s ease;
}
.profile-banner-button img{
  height:20px;
  transition:all 0.4s ease;
}
/* header */
header{
  background-color: var(--body-bg);
  position: sticky; top: 0;
  z-index: 99;
  box-shadow: 2px -2px 10px rgba(38, 38, 38, 0.509);
}
header h1.title,
header h3.desc{
  text-align: center; 
  color:var(--primary-text-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.container{
  max-width:1200px;
}

/* toolbar */
.toolbar{
  padding:2px 0px 2px 0px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px 10px rgba(38, 38, 38, 0.509);
}
.toolbar-element:first-child{
  border-left: solid 1px white;
}
.toolbar-element{
  border-right: solid 1px white;
  padding : 0 10px 0 10px;
}
/* .toolbar a{
  padding: 0 10px 0 10px;
}
.toggle-bar{
  padding: 0 10px 0 10px;
}
.language-bar{
  display: flex;
}
.language-bar div{
  border-right: solid 1px white;
} */

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
  border-radius: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0s ;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  transition: 0s ;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon-flag{
  width: 25px;
}
.search-icon{  
  width: 25px;

}

/* navigation */
.full-page-menu  {
  background-color: var(--primary-color);
}
.full-page-menu  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
  font-family: sans-serif;
  display: none;
  justify-content: center;
}
.logo{
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  top:0px;
  padding: 0px 20px;
  height: 100px;
  box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
  /* display: block;
  width: 36px;
  padding: 0px 14px;
  text-align: center; */
}
.full-page-menu li {
  float: left;
  padding: 10px 0 10px 0 ;
}
.full-page-menu li a:first-child{
  border-left: solid  0.1px rgba(255, 255, 255, 0.203);
}
.full-page-menu li a {
  display: block;
  color: var(--primary-header-color);
  border-right: solid  0.1px rgba(255, 255, 255, 0.3);
  border-bottom: solid  0.1px rgba(255, 255, 255, 0.0);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.full-page-menu li a:link {
  color: var(--primary-header-color);
}
.full-page-menu li a:hover {
  color: var(--primary-header-color);
  border-bottom: solid  0.1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}
.full-page-menu li a:active {
  color: var(--secondary-color);
}

/* Hamburger */
.hamburger-menu {
  z-index: 2;
  display: block;
}
.menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--secondary-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: var(--primary-header-color);
  font-size: 20px;
  transition: 0.3s;
  border:solid 2px rgba(255, 255, 255, 0.0);
  text-decoration:none;
  transition: 0.3s ease;
}

.nav li a:hover {
  border-bottom:solid 2px rgba(255, 255, 255, 0.45);
}

.menu-bg, .hamburger-menu {  
  top: 80px;
  left: auto;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--secondary-color), var(--primary-color));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: var(--primary-color);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 600px;
  transform: translate(-60%,-15%);
}

/* Contents */
#contents {
  float: center;
}
.contents{
  background-color: var(--body-bg);
  min-height: 1000px;
  width:100%;
}
  /* content banner */
.content-banner{
width: 100%;
height: 300px;
background-image: url("../assets/images/bg-1.jpg");
background-size: cover;
background-position: center;
position: relative;
}
.cb-overlay{
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 176, 179, 0.1);
}
.content-banner h1{
  margin: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size:4rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);    /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px 5px rgb(86, 85, 85);
  color: rgb(255, 255, 255);
}
.breadcrumb{
  padding: 20px 0 20px 20px ;
  background-color: var(--secondry-background-color);
  color: var(--secondry-text-color);
}
.breadcrumb a{
  text-decoration: none;
  color: var(--secondry-text-color);
}
.breadcrumb a:hover{
  color: var(--primary-text-color);
}
/* page */
.page{
  width: 80%;
  margin: auto;
  background-color:var(--secondry-background-color);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-title {
  text-align: center;
  padding:10px 0 10px 0;
  border-bottom: 1px solid rgba(121, 121, 121, 0.5);
  margin-bottom: 20px;
}
.page-title h1{
  border-bottom: 0.1px solid ;
}
.page-contents{
  margin: 0px 15px 0px 15px;
}
footer {
  text-align: center;
  background-color: var(--primary-color);
}
.go-top{
  transform: translateY(-50%);
  transition: 0.5s ease;
}
.go-top:hover{
  transform: translateY(-65%);
}
footer p{
  color: var(--primary-header-color);
}
.container{
  margin:auto;
}

/* ------------------- Home page styles ------------------- */
/* banner */
.banner{
  display: flex;    
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* padding:70px 0 70px 0; */
  /* background-image: url(../assets/images/lab-AI.JPG);
  background-position: center center;
  background-repeat: no-repeat; */
}
.banner div:last-child{
  display: none;
}
.banner video{
  width: 100%;
}

.profile{
  user-select: auto;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  align-items: center;
  margin: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.profile-title{
 margin: 10px 0 10px 0;
}
.profile-banner{
  display: flex;
  align-items: center;
}
.profile-banner div{
  margin: 10px;
}
/* ------------------- Major page styles ------------------- */

/* -------------------Media control ------------------- */
/* Media control */
@media (min-width: 620px){
  .banner div:last-child{
    display: block;
  }
}

@media (min-width: 970px){
  .hamburger-menu {
    z-index: 2;
    display: none;
  }
  .full-page-menu  ul {
    display: flex;
  }
}