header h1.title,
header h3.desc{
  text-align: center; 
}
body {
    width: 90%; 
    margin: auto;
}
a:link {
  color: blue;
}
a:visited {
  color: aliceblue;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}